* {
    margin: 0;
    padding: 0;
}
.menu {
    width: 100%;
    height: 50px;
    background-color: rgb(238, 112, 112);
    text-align: center;
}
.rodape{
    text-align: center;
}
@media screen and (min-width: 768px ) {
    .menu{
        height: 100px;
        background-color: rgb(72, 175, 175);
    }
}
@media screen and (min-width: 1280px ){
    .menu{
        height: 150px;
        background-color: rgb(35, 15, 90);
        color: aliceblue;
        font-size: 64px;
    }
}